
body {
  margin: 0;
  padding: 0;
  font-family: "Sarabun", serif;
}



@tailwind base;
@tailwind components;
@font-face {
  font-family: "Sarabun";
  src: url("./font/THSarabun.ttf") format("ttf");
}
@tailwind utilities;